.contact{
    border-radius: 10px;

}
.contact__content{
    gap:20px;
}

.left__contact{
    width:60%;
}

.left__contact .btn{
    color:white;
    background-color: #1ABA1A;
}


.right__contact__{
    margin-top: 100px;
    width:35%;
    
}
.right__contact{
background-color: #EDEFF6;
border-radius: 10px;
}


.right__contact p{
margin-bottom: 50px;
}


.right__contact label{
     display: block;
    margin-bottom: 12px;
}

.right__contact input{
    margin-bottom: 25px;
}

.Map{
    border-radius: 10px;
}

.footer-icon{
    margin-bottom:40px;
    gap:15px;
}

@media (max-width: 722px) {

.contact__content{
    flex-direction:column;
}
.left__contact{
    width:80%;

}
.right__contact__{
    margin-top: 10px;
    width:100%;
    
}

}

@media (max-width: 455px) {

.ww{
    flex-direction: column;
}
}